*.class
*.exe
*~
/*.*~
/build/*
/.classpath
/.gradle/*
/**/build/*
/.project
/.settings/org.eclipse.jdt.core.prefs
/**/.classpath
/**/.project
/**/.settings/*
/**/.externalToolBuilders/*
/**/*.class
/**/target/*
/**/bin/*
*.log
/**/*.log
nb*
.nb*
/**/nb-configuration.xml
.nb-gradle
.nb-gradle*
.nb-gradle/*
*.nb-gradle/*

/.idea/*
*.iml

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*