/*.*~
/build/*
/.classpath
/.gradle/*
/**/build/*
/.project
/.settings/org.eclipse.jdt.core.prefs
/**/.classpath
/**/.project
/**/.settings/*
/**/.externalToolBuilders/*
/**/*.class
/**/target/*
/**/bin/*
*.log
/**/*.log
nb*
/**/nb-configuration.xml
/.idea/*
*.iml

# Package Files #
*.jar
*.war
*.ear
