<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
						
	<appender name="splunk" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%c] (%t:%x) %m%n" />
		</layout>
	</appender>
	
	<appender name="file" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/export/logs/egw-util/egw-util.log" />		
		<param name="Append" value="true" />
		<param name="DatePattern" value=".yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d level=%p [%c] (%t:%x) %m%n" />
		</layout>
	</appender>

 	<logger name="splunk=br.com.uol.egw">
		<level value="DEBUG" />
		<appender-ref ref="splunk" />
	</logger>
	
	<logger name="br.com.uol.egw">
		<level value="DEBUG" />
		<appender-ref ref="file" />
	</logger>

 	<root>
 		<level value="FATAL"/>
		<appender-ref ref="file" />
	</root>
	
</log4j:configuration>
